<div class="navigation">
  <div class="u-pull-left fifty-percent">
    <%#= link_to image_tag("pleased-io.png", class: "max-width-50 twenty-padding"), root_path %>
    <h3 class="twenty-padding"><strong>Pleased</strong>.io</h3>
  </div>

  <div class="fifty-percent u-pull-right">
    <div class="twenty-padding">
      <% if signed_in? -%>
          <%= button_to 'Sign Out',sign_out_path, method: :delete, class: 'u-pull-right' %>
        <% else -%>
        <a class="button button-brand u-pull-right" href="/signup">GET STARTED</a>
          <%#= button_to 'GET STARTED', sign_up_path, method: :get, class: 'u-pull-right button-brand' %>
        <% end -%>
    </div>
  </div>
</div>
