<div class="navigation">
  <div class="u-pull-left fifty-percent">
    <%= image_tag("pleased-io.png", class: "max-width-50 twenty-padding") %>
    <!-- <h2 class="twenty-padding"><strong>Pleased</strong>.io</h2> -->
  </div>

  <div class="fifty-percent u-pull-right">
    <div class="twenty-padding">
      <% if signed_in? -%>
          <%= button_to 'Sign Out',sign_out_path, method: :delete, class: 'u-pull-right' %>
        <% else -%>
        <a class="button button-primary u-pull-right button-primary" href="/signup">GET STARTED</a>
          <%#= button_to 'GET STARTED', sign_up_path, method: :get, class: 'u-pull-right button-primary' %>
        <% end -%>
    </div>
  </div>
</div>
