
<%= form_for :password, url: passwords_path do |form| %>
  <%= form.text_field :email, type: 'email', class: 'u-full-width', placeholder: 'Email' %>
  <%= form.submit %>
  <p class="center"><%= t '.description' %></p>
<% end %>
